<header class="ch-navbar">
  <div class="ch-container">
    <div class="ch-row">
      <div class="xs:ch-col--12 sm:ch-col--3">
        <a href="/" class="ch-navbar__title ch-mv--3">
          <img src="/images/ac-emblem.svg" alt="Arnold Clark" />
          Branch resource
        </a>
      </div>
      <div class="xs:ch-col--12 sm:ch-col--9">
        <a href="#" class="ch-navbar__user ch-bg--ac-magenta ch-color--white ch-pull--right ch-mv--3">JC</a>
      </div>
    </div>
  </div>
</header>