body {
  background-color: #FAFAFA;
}

.ch-navbar__title {
  font-size: 16px;
}

.ch-navbar__title img {
  margin-right: 14px;
}

.br-branch-container {
  border-radius: 0px 0px 24px 24px;
}

.ch-navbar__user {
  height: 48px;
  width: 48px;
  display: block;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 48px;
}

.ch-navbar__user:hover {
  color: #fff;
}

.ch-navbar__nav li a, 
.ch-navbar__nav li span, 
.ch-navbar__nav__item a, 
.ch-navbar__nav__item span {
  margin: 24px 0;
}

.ch-navbar--active a {
  background-color: #242d2c;
}

.ch-btn--block+.ch-btn--block {
  margin-top: 0px;
}

.br-branch-picker {
  /* font-size: 24px;
  font-weight: 500; */
}

.br-branch-picker__label {
  font-size: 24px;
  font-weight: 500;
}

.br-branch-picker__select {
  opacity: 0;
}

.br-calendar {
  overflow-x: auto;
}

.br-calendar table {
  /* border-collapse: separate; */
  table-layout: fixed;
  width: 1vw;
}

.ch-bg--ac-red-1 {
  background-color: #FFF5F5;
}

.ch-bg--ac-orange-1 {
  background-color: #FFFAF5;
}

.br-calendar table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
.br-calendar table tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
}

.ch-link--white {
  color: #fff;
}

.ch-link--white:hover {
  text-decoration: none;
  color: #c0c0c0;
}